{% spaceless %}
{% load compress %}
{% load staticfiles %}
<!doctype html>
{% endspaceless %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block page_title %}{{ _("Your Site") }}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">
  {# Mobile viewport optimized: h5bp.com/viewport #}
  <meta name="viewport" content="width=device-width">
  {% block meta %}{% endblock %}

  {# use the CDN to get bootstrap css. can not be inside compress css block #}
  {% block cdn_css %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock cdn_css %}

  {% compress css %}
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  {% block css %}{% endblock %}
  {% endcompress %}
  {# More ideas for your <head> here: h5bp.com/d/head-Tips #}

  {# All JavaScript at the bottom, except this Modernizr build. #}
  {# Modernizr enables HTML5 elements & feature detects for optimal performance. #}
  {# Create your own custom Modernizr build: www.modernizr.com/download/ #}
  {% compress js %}
  <script src="{% static 'js/libs/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
  {% endcompress %}
</head>
<body class="{% block body_class %}{% endblock %}" {% block body_attributes %}{% endblock %}>
{% block body %}
  {# Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6. #}
  {# chromium.org/developers/how-tos/chrome-frame-getting-started #}
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
  <header>
    {% block header %}{% endblock %}
  </header>

  {% block navbar %}{% include "navbar.html" %}{% endblock %}
  <div role="main">
    <div class="container">
    {% block content %}{% block main %}{% endblock %}{% endblock %}
    </div>
  </div>
  {% block footer %}{% include "footer.html" %}{% endblock footer %}
  


  {# JavaScript at the bottom for fast page loading #}

  {# Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline #}
  {% block cdn_js %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-2.1.1.min.js"><\/script>')</script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock cdn_js %}

  {# scripts concatenated and minified via django-compressor #}
  {% compress js %}
  {% block js %}
  <script src="{% static 'js/main.js' %}"></script>
  {% endblock js %}
  {% endcompress %}
  {# end scripts #}

  {# Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID. #}
  {# mathiasbynens.be/notes/async-analytics-snippet #}
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
{% endblock %}
</body>
</html>