{% load url from future %}
{% load socialaccount %}
{% load mezzanine_tags %}

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Project name</a>
    </div>
    <div class="navbar-collapse collapse">


    
      
      <form class="navbar-form navbar-right login" method="POST" action="{% if user.is_authenticated %}{% url 'account_logout' %}{% else %}.{% endif %}">
        {% csrf_token %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        {% if user.is_authenticated %}
          <a href="{% url 'my_profile' %}" class="primaryAction btn btn-default" role="button">My Profile</a>
          <button class="primaryAction btn btn-danger" type="submit">Sign Out</button>
        {% else %}
          <a href="{% url 'account_signup' %}" class="primaryAction btn btn-primary" role="button">Sign Up</a>
          {# <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="primaryAction btn btn-primary" role="button">Sign Up/Login with Facebook</a> #}
          {# <a class="button secondaryAction" href="{% url 'account_reset_password' %}" class="primaryAction btn btn-warning" role="button">Forgot Password?</a> #}
          <a href="{% url 'account_login' %}" class="primaryAction btn btn-primary" role="button">Log In</a>
        {% endif %}
      </form>


      {% search_form %}
        {#{% nevercache %}#}
        {#{% include "accounts/includes/user_panel_nav.html" %}#}
        {#{% endnevercache %}#}
    </div><!--/.navbar-collapse -->
  </div>
</div>