{% extends "base.html" %}

{% load mezzanine_tags rating_tags talk_tags future %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main %}

{% for comment in object_list %}
<div class="comment-item">
    <p class="comment">{{ comment.comment }}</p>
    by <a href="{% url "profile" comment.user.username %}">{{ comment.user|get_profile }}</a>
    {{ comment.submit_date|short_timesince }} ago in
    <a class="comments" href="{{ comment.get_absolute_url }}">{{ comment.content_object }}</a>
    <br clear="left">
</div>
{% empty %}
<p>{{ no_data }}</p>
{% endfor %}

{% pagination_for object_list "page" "pjax" %}

{% endblock %}