{% extends "base.html" %}

{% block meta_title %}New Link{% endblock %}
{% block title %}New Link{% endblock %}

{% load mezzanine_tags %}

{% block main %}
{% errors_for form %}
<form method="post">
<fieldset>{% fields_for form %}</fieldset>
<div class="actions">
    <input class="btn btn-warning btn-large" type="submit" value="Submit New Link">
</div>
</form>
{% endblock %}