{% extends "base.html" %}

{% load mezzanine_tags rating_tags keyword_tags comment_tags talk_tags future %}

{% block page_title %}{% if user.is_authenticated %}Profile of - {{ profile_user }}{% else %}No Profile{% endif %}{% endblock %}
{% block page_class %}profile-page{% endblock %}
{% block body_id %}account{% endblock %}

{% block meta_description %}{% metablock %}{{ object.description }}{% endmetablock %}{% endblock %}
{% block meta_title %}{{ object.title }}{% endblock %}
{% block title %}
<a href="{{ object.url }}">{{ object.title }}</a>
<span class="domain">({{ object.domain }})</span>
{% endblock %}

{% block content %}
<section>
    {% if profile_user == request.user %}
    <div class="pull-right">
        <a class="btn btn-large btn-primary btn-profile" href="{#{% url "profile_update" %}#}">Update profile</a>
    </div>
    {% endif %}
    <div class="clearfix"></div>
    {% with request.user.profile as profile %}
        <p class="bio">{{ profile.bio|urlize|linebreaks|default:"This person has not filled out their biography..." }}</p>
        {% if profile.website %}<p class="bio">Website: {{ profile.website|urlize }}</p>{% endif %}
    {% endwith %}
    <a href="{% url "comment_list_user" profile_user.username %}">comments ({{ profile_user.comment_comments.count }})</a> |
    <a href="{% url "link_list_user" profile_user.username %}">links ({{ profile_user.links.published.count }})</a>
</section>
{% endblock %}