{% load mezzanine_tags rating_tags i18n future %}

<div class="rating">

    <form method="post" action="{% url "rating" %}">
        {% fields_for rating_form %}
    </form>

    <span class="arrows">
        <a href="#"><i class="icon icon-arrow-up"></i></a>
        <a href="#"><i class="icon icon-arrow-down"></i></a>
    </span>

    <span class="score">
        {% with rating_obj.comments_count|default:0 as comments_count %}
        <!--{{ rating_sum|add:comments_count }}-->
        {{ rating_sum }}
        {% endwith %}
    </span>

</div>
